<h1>Stupid coaching</h1>

<div class="container w-100 p-2 m-2">
  <blockquote class="blockquote my_question p-2">
    <p><%= @question %></p>
    <footer class="blockquote-footer">You</footer>
  </blockquote>

  <blockquote class="blockquote my_answer p-2">
    <p>
    <%= @answer %>
    </p>
    <footer class="blockquote-footer">Your Coach</footer>
  </blockquote>

  <%= link_to "Ask another question", ask_path %>

  </div>
