<div class="container m-2 p-2">
  <h1 >Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
    <div class="form-group">
      <label for="question">Ask your coach anything:</label>
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
